PORT = 5000


# JWT
# --------------------------------------------------------------------------------------------------
JWT_SECRET = 
JWT_EXPIRATION_TIME_SECONDS = 900


# GitHub OAuth implementation 
# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps
# --------------------------------------------------------------------------------------------------
# The client ID you received from GitHub for your OAuth App
GITHUB_OAUTH_CLIENT_ID = 
# The client secret you received from GitHub for your OAuth App
GITHUB_OAUTH_CLIENT_SECRET = 
# The URL in your application where users are sent after authorization
GITHUB_OAUTH_CALLBACK_URL = http://localhost:5000/auth/github/callback

